:root {
  --color-primary: black;
  --color-secondary: white;
  --color-accent: gray;
  --color-background: #f9f9f9;
  --color-text: #333;
  --color-text-light: #555;

  --font-family: 'Poppins', sans-serif;
  --font-size-base: 16px;
  --font-size-large: 3rem;
  --font-size-medium: 2rem;
  --font-size-small: 1.5rem;

  --border-radius: 10px;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  --spacing-small: 1rem;
  --spacing-medium: 2rem;
  --spacing-large: 4rem;

  --transition-speed: 0.5s;
}
* {
  font-family: var(--font-family);
  text-decoration: none;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-background);
  color: var(--color-text);
}
img,
table {
  max-width: 100%;
  height: auto;
}
header {
  background-color: var(--color-primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: var(--spacing-small);
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  transition: all var(--transition-speed) ease;
  min-height: 88px;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
}
.logo {
  width: 150px;
  height: auto;
  margin: 10px;
  color: white;
}
.logo h1 {
  font-size: var(--font-size-large);
  font-weight: 700;
  color: var(--color-secondary);
}
.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 1.5em;
  gap: 30px;
  margin-right: 30px;
  color: white;
}
.nav-list li a {
  color: var(--color-secondary);
  font-size: var(--font-size-small);
  font-weight: 500;
  padding: var(--spacing-small);
}
.burguer-menu {
  display: none;
}
#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('../resources/heroimage.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
}
#hero .hero-container {
  background: rgba(128, 126, 126, 0.8);
  padding: 2rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#hero h2 {
  font-size: var(--font-size-large);
  font-weight: bold;
  color: var(--color-primary);
  margin-bottom: var(--spacing-small);
}
#hero p {
  font-size: var(--font-size-medium);
  font-weight: bold;
  color: var(--color-primary);
  margin-bottom: var(--spacing-medium);
}
button {
  padding: var(--spacing-small) var(--spacing-medium);
  background: var(--color-primary);
  color: var(--color-secondary);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: var(--font-size-small);
  font-weight: bold;
  transition: filter var(--transition-speed) ease;
}
button:hover {
  filter: brightness(1.5);
}
#features {
  padding: 4rem 2rem;
  background: #f9f9f9;
  text-align: center;
}
.features-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  justify-content: center;
}
.feature {
  background: var(--color-background);
  padding: var(--spacing-medium);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  text-align: center;
  min-height: 350px;
}
.feature img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1rem;
}
.feature h3 {
  font-size: var(--font-size-small);
  margin-bottom: var(--spacing-small);
}
.feature p {
  font-size: var(--font-size-base);
  margin-bottom: var(--spacing-small);
}
#models {
  padding-bottom: 2em;
  background: #f9f9f9;
  text-align: center;
}
.models-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0;
  width: 100%;
  align-items: stretch;
}
.model {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 600px;
  background: #e0e0e0;
  box-sizing: border-box;
  padding-bottom: 2em;
}
.model img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 1rem;
}
.model h3 {
  font-size: 1.5rem;
  margin: 1rem 0;
}
.model p {
  max-width: 70%;
  font-size: 1.2rem;
  margin: 1.5rem 0;
  text-align: center;
  line-height: 1.6;
}
#carousel {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: #f9f9f9;
}
.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
}
.carousel-slides {
  display: flex;
  width: 300%;
  transition: transform 0.5s ease-in-out;
}
.carousel-slide {
  flex: 1 0 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-slide img {
  width: 60%;
  height: 750px;
  object-fit: cover;
}
input[type='radio'] {
  display: none;
}
#slide1:checked ~ .carousel-slides {
  transform: translateX(0%);
}
#slide2:checked ~ .carousel-slides {
  transform: translateX(-100%);
}
#slide3:checked ~ .carousel-slides {
  transform: translateX(-200%);
}
.carousel-navigation {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.nav-dot {
  width: 20px;
  height: 20px;
  margin: 0 10px;
  background: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}
#slide1:checked ~ .carousel-navigation label[for='slide1'],
#slide2:checked ~ .carousel-navigation label[for='slide2'],
#slide3:checked ~ .carousel-navigation label[for='slide3'] {
  background: #333;
}
#testimonials {
  padding: 4rem 2rem;
  background: #f9f9f9;
  text-align: center;
}
#testimonials h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #333;
}
.testimonials-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: stretch;
}
.testimonial {
  flex: 1;
  max-width: 500px;
  background: #e0e0e0;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial p {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #555;
  line-height: 1.8;
}
.testimonial h4 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}
#main-footer {
  background: #000;
  color: #fff;
  padding: 4rem 2rem;
  text-align: center;
}
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}
.footer-column {
  flex: 1;
  max-width: 300px;
  text-align: center;
}
.footer-column h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}
.footer-column p,
.footer-column ul {
  font-size: 1rem;
  margin: 0.5rem 0;
  text-align: center;
}
.footer-column ul {
  list-style: none;
  padding: 0;
}
.footer-column ul li {
  margin: 0.5rem 0;
}
.footer-column ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}
.footer-column ul li a:hover {
  color: #ccc;
}
.footer-column p:first-of-type {
  font-style: italic;
}
#locations {
  position: relative;
  width: 100%;
  height: 800px;
}
.locations-banner {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.locations-text {
  background-color: rgba(85, 85, 85, 0.8);
  color: var(--color-secondary);
  padding: var(--spacing-medium);
  border-radius: var(--border-radius);
  position: relative;
  z-index: 1;
  top: -60%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 80%;
  max-width: 600px;
  box-shadow: var(--box-shadow);
  font-size: var(--font-size-medium);
  font-weight: bold;
  transition: background var(--transition-speed) ease;
}
.locations-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.locations-button {
  position: relative;
  top: 30%;
  left: 20%;
  transform: translate(-50%, -50%);
  padding: 1rem 2rem;
  background: black;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  transition: background 0.5s ease, transform 0.3s ease;
  margin-top: 2rem;
}
.locations-button:hover {
  background: gray;
  transform: translate(-50%, -50%) scale(1.1);
}
section h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  color: #333;
}
@media (max-width: 768px) {
  * {
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }
  header {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: fixed;
  }
  .nav-list {
    display: none;
  }
  .burguer-menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
    color: white;
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
  }
  .burguer-menu span {
    display: block;
    width: 40px;
    height: 5px;
    background-color: white;
    border-radius: 3px;
  }
  #hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0 auto;
    margin-top: 4rem;
    padding: 1rem;
  }
  #hero .hero-container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  img,
  video,
  iframe {
    max-width: 100%;
    height: auto;
  }
  .features-container,
  .models-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .feature,
  .model {
    width: 100%;
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .footer-column {
    max-width: 100%;
  }
  .locations-banner {
    width: 100%;
    overflow: hidden;
  }
  .locations-text {
    width: 90%;
    max-width: 600px;
    font-size: 1.5rem;
  }
}
@media (max-width: 1024px) {
  .features-container {
    grid-template-columns: 1fr 1fr;
  }
  .models-container {
    grid-template-columns: 1fr 1fr;
  }
  .testimonials-container {
    grid-template-columns: 1fr;
  }
  .locations-text {
    font-size: 1.8rem;
  }
}
